<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>282696326833-24s1p87bl6sbdf23t4ocnketv99pjsd8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.282696326833-24s1p87bl6sbdf23t4ocnketv99pjsd8</string>
	<key>API_KEY</key>
	<string>AIzaSyCJdTC8lO4XGYxjH_JEeyOVyhdeR3PNyEU</string>
	<key>GCM_SENDER_ID</key>
	<string>282696326833</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lambton.MAD4114</string>
	<key>PROJECT_ID</key>
	<string>mad4114-cc3b2</string>
	<key>STORAGE_BUCKET</key>
	<string>mad4114-cc3b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:282696326833:ios:4158751be633f93c268c90</string>
</dict>
</plist>